{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/tools.cli {:mvn/version "1.0.219"}
  org.apache.pdfbox/pdfbox {:mvn/version "3.0.1"}
  org.apache.pdfbox/pdfbox-io {:mvn/version "3.0.1"}}
 :paths ["src" "resources"]
 :aliases {:nrepl
           {:extra-deps
            {cider/cider-nrepl {:mvn/version "0.26.0"}}
            :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
           :build
           {:deps {io.github.clojure/tools.build {:mvn/version "0.9.3"}}
            :ns-default build}}}
